<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.Boys"/>
      <class name="testng.MultipleFilterGo"/>
      <class name="testng.AddToCart"/>
      <class name="testng.Men"/>
      <class name="testng.AddToCartAndRemoveIt"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
